<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method ReservationsController.listAll -->
    <form th:action="@{/}" th:method="GET" id="filter-form">
        <label for="guestName">Guest Name</label>
        <input id="guestName" type="text" name="guestName"
               th:value="${guestName}"/>
        <label for="roomType">Genre</label>
        <select id="roomType" name="roomType">
            <option value="">All</option>
            <!-- For each RoomType you should have one <option> like below  -->
<!--            <option>[roomName]</option>-->
            <option th:each="lvl : ${types}"
                    th:value="${lvl}"
                    th:text="${lvl}"
                    th:selected="${roomType != null && roomType == lvl}">
            </option>

        </select>
        <select id="hotel" name="hotel">
            <option value="">All</option>
            <!-- For each Hotel you should have one <option> like below  -->
<!--            <option>[hotel.name]</option>-->
            <option th:each="h : ${hotels}"
                    th:value="${h.getId()}"
                    th:text="${h.getName()}"
                    th:selected="${hotelId != null && hotelId == h.getId()}">
            </option>


        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- ReservationsController.showAdd -->
        <a  sec:authorize="hasRole('ADMIN')" th:href="@{/reservations/add}" class="add-item">
            Add new reservation
        </a>
    </div>
    <table>
        <tr>
            <th>Guest Name</th>
            <th>Date of Creation</th>
            <th>Room Type</th>
            <th>Hotel</th>
            <th>Days of Stay</th>
            <th>Actions</th>
        </tr>
        <!-- For each reservation you should have one <tr> like below -->
        <tr   th:each="reservation : ${page.getContent()}" class="item">
            <td th:text="${reservation.guestName}"> [reservation.guestName]</td>
            <td th:text="${reservation.dateCreated}">[reservation.dateCreated]</td>
            <td th:text="${reservation.roomType}" >[reservation.roomType]</td>
            <td th:text="${reservation.hotel.name}">[reservation.hotel.name]</td>
            <td th:text="${reservation.daysOfStay}">[reservation.daysOfStay]</td>
            <td>
                <!-- ReservationsController.delete -->
                <form  th:method="post"
                        th:action="@{'/reservations/delete/{id}' (id=${reservation.getId()})}"

                      sec:authorize="hasRole('ADMIN')">
                    <button type="submit" class="delete-item">Delete</button>
                </form>
                <!-- ReservationsController.showEdit -->
                <a th:href="@{'/reservations/edit/{id}' (id=${reservation.getId()})}" sec:authorize="hasRole('ADMIN')"  class="edit-item">Edit</a>
                <!-- ReservationsController.extend -->
                <form th:method="post" th:action="@{'/reservations/extend/{id}' (id=${reservation.getId()})}" sec:authorize="hasRole('USER')">
                    <button type="submit" class="extend-item">Extend stay</button>
                </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
